footer.footer
	.footer__top
		.layout
			.info
				nav.guide
					a(href="#").guide__link О КОМПАНИИ
					a(href="#").guide__link НОВОСТИ
					a(href="#").guide__link КОНТАКТЫ
				span.v-line
				p.locating
					i.icon-locating
					|
					a(href="#").locating__link г. Нижний Новгород, ул. Торфяная, 30
				span.v-line
				.phone
					i.icon-phone
					a(href="tel:88005554939").phone__link 8 800 555 49 39
				span.v-line
				.mail
					i.icon-mail
					a(href='mailto:alfa.zhat@gmail.com').mail__link alfa.zhat@gmail.com

	.footer__bottom
		p.copy &copy; 2017 г. ООО «Альфа-жат». Все права защищены.