- var list = ['Головки светофорные', 'Светофоры карликовые', 'Светофоры консольные', 'Системы светофорные', 'Светофоры мачтовые', 'Указатели световые светодиодные', 'Звуковые сигнальные устройства', 'Переездное оборудование', 'Устройства СЦБ для метро', 'Светильники светодиодные', 'Стрелочные электроприводы', 'Перемычки и соединители для СЦБ', 'Бортовые источники питания', 'Дроссель-трансформаторы', 'Буферные фонари', 'Защитные устройства', 'Ящики путевые', 'Муфты кабельные', 'Оборудование СЦБ', 'Аппаратура связи', 'Изоляция для ж/д путей'];
.startScreen(data-aos="fade-down", data-aos-delay="480")
	.propose
		ul.breadcrumbs
			li
				a(href="/") Главная
			li Светофоры мачтовые
		h2.title__lines.mod_left Сфетофоры мачтовые

		.filter
			.filter__using
				h4.filter__title Сфера применения:
				.select.js-filter
					.select__text.js-filter-text
						span все
					input(type="hidden", value="", name="using").js-filter-input
					ul.filter__list.js-filter-list
						li(data-id="0").select__row
							label.check
								input(type="checkbox", name="")
								span Магистральные железные дороги
						li(data-id="1").select__row
							label.check
								input(type="checkbox", name="")
								span Метрополитен
						li(data-id="2").select__row
							label.check
								input(type="checkbox", name="")
								span Промышленный транспорт
						li(data-id="3").select__row
							a(href="#").select__all Выбрать все
						li(data-id="4").select__row
							a(href="#").btn.btn_small Применить
			.filter__using
				h4.filter__title Вид продукции:
				.select.js-filter
					.select__text.js-filter-text
						span все
					input(type="hidden", value="", name="type").js-filter-input
					ul.filter__list.js-filter-list
						li(data-id="0").select__row
							label.check
								input(type="checkbox", name="")
								span Щитки переездной сигнализации
						li(data-id="1").select__row
							label.check
								input(type="checkbox", name="")
								span Переездные светофоры
						li(data-id="2").select__row
							label.check
								input(type="checkbox", name="")
								span Звуковые извещатели
						li(data-id="3").select__row
							label.check
								input(type="checkbox", name="")
								span Пешеходные светофоры
						li(data-id="4").select__row
							label.check
								input(type="checkbox", name="")
								span Шлагбаумы
						li(data-id="5").select__row
							label.check
								input(type="checkbox", name="")
								span Устройства заградительные
						li(data-id="6").select__row
							a(href="#").select__all Выбрать все
						li(data-id="7").select__row
							a(href="#").btn.btn_small Применить
			.filter__items
				h4.filter__title Показать:
				.select.js-select
					.select__text.js-select-text
						span 12
					input(type="hidden", value="").js-select-input
					ul.select__list.js-select-list
						li(data-id="0").select__link
							span 12
						li(data-id="1").select__link
							span 24
						li(data-id="3").select__link
							span 48
						li(data-id="4").select__link
							span 96

			.filter__show
				h4.filter__title Показать:
				.filter__select
					a(href="#").filter__link.filter_tile
					a(href="#").filter__link.filter_list.is_active

		.product.product_list
			a(href="#").product__item
				.product__pic
					img(src='static/img/product/01.jpg', alt='изображение').product__img
				.product__content
					p.product__title Светофор заградительный со светодиодными светооптическими системами
					p.product__desc.mod_limit Светофор мачтовый четырехзначный со светодиодными  свето оптическими системами тырехзначный со светодиодными  светооптическими системами светооптическими светооптическими светооптическими
				.product__footer
					p.product__footer_desc
						span.product__footer_serial HKMP
						span.product__footer_num 676636.056-02
			a(href="#").product__item
				.product__pic
					img(src='static/img/product/02.jpg', alt='изображение').product__img
				.product__content
					p.product__title Светофор заградительный со светодиодными светооптическими системами
					p.product__desc.mod_limit Светофор мачтовый четырехзначный со светодиодными  свето оптическими системами тырехзначный со светодиодными  светооптическими системами светооптическими светооптическими светооптическими
				.product__footer
					p.product__footer_desc
						span.product__footer_serial HKMP
						span.product__footer_num 676636.056-02
			a(href="#").product__item
				.product__pic
					img(src='static/img/product/03.jpg', alt='изображение').product__img
				.product__content
					p.product__title Светофор заградительный со светодиодными светооптическими системами
					p.product__desc.mod_limit Светофор мачтовый четырехзначный со светодиодными  свето оптическими системами тырехзначный со светодиодными  светооптическими системами светооптическими светооптическими светооптическими
				.product__footer
					p.product__footer_desc
						span.product__footer_serial HKMP
						span.product__footer_num 676636.056-02
			a(href="#").product__item
				.product__pic
					img(src='static/img/product/04.jpg', alt='изображение').product__img
				.product__content
					p.product__title Светофор заградительный со светодиодными светооптическими системами
					p.product__desc.mod_limit Светофор мачтовый четырехзначный со светодиодными  свето оптическими системами тырехзначный со светодиодными  светооптическими системами светооптическими светооптическими светооптическими
				.product__footer
					p.product__footer_desc
						span.product__footer_serial HKMP
						span.product__footer_num 676636.056-02
			a(href="#").product__item
				.product__pic
					img(src='static/img/product/05.jpg', alt='изображение').product__img
				.product__content
					p.product__title Светофор заградительный со светодиодными светооптическими системами
					p.product__desc.mod_limit Светофор мачтовый четырехзначный со светодиодными  свето оптическими системами тырехзначный со светодиодными  светооптическими системами светооптическими светооптическими светооптическими
				.product__footer
					p.product__footer_desc
						span.product__footer_serial HKMP
						span.product__footer_num 676636.056-02
			a(href="#").product__item
				.product__pic
					img(src='static/img/product/01.jpg', alt='изображение').product__img
				.product__content
					p.product__title Светофор заградительный со светодиодными светооптическими системами
					p.product__desc.mod_limit Светофор мачтовый четырехзначный со светодиодными  свето оптическими системами тырехзначный со светодиодными  светооптическими системами светооптическими светооптическими светооптическими
				.product__footer
					p.product__footer_desc
						span.product__footer_serial HKMP
						span.product__footer_num 676636.056-02
			a(href="#").product__item
				.product__pic
					img(src='static/img/product/02.jpg', alt='изображение').product__img
				.product__content
					p.product__title Светофор заградительный со светодиодными светооптическими системами
					p.product__desc.mod_limit Светофор мачтовый четырехзначный со светодиодными  свето оптическими системами тырехзначный со светодиодными  светооптическими системами светооптическими светооптическими светооптическими
				.product__footer
					p.product__footer_desc
						span.product__footer_serial HKMP
						span.product__footer_num 676636.056-02
			a(href="#").product__item
				.product__pic
					img(src='static/img/product/03.jpg', alt='изображение').product__img
				.product__content
					p.product__title Светофор заградительный со светодиодными светооптическими системами
					p.product__desc.mod_limit Светофор мачтовый четырехзначный со светодиодными  свето оптическими системами тырехзначный со светодиодными  светооптическими системами светооптическими светооптическими светооптическими
				.product__footer
					p.product__footer_desc
						span.product__footer_serial HKMP
						span.product__footer_num 676636.056-02
			a(href="#").product__item
				.product__pic
					img(src='static/img/product/04.jpg', alt='изображение').product__img
				.product__content
					p.product__title Светофор заградительный со светодиодными светооптическими системами
					p.product__desc.mod_limit Светофор мачтовый четырехзначный со светодиодными  свето оптическими системами тырехзначный со светодиодными  светооптическими системами светооптическими светооптическими светооптическими
				.product__footer
					p.product__footer_desc
						span.product__footer_serial HKMP
						span.product__footer_num 676636.056-02
			a(href="#").product__item
				.product__pic
					img(src='static/img/product/05.jpg', alt='изображение').product__img
				.product__content
					p.product__title Светофор заградительный со светодиодными светооптическими системами
					p.product__desc.mod_limit Светофор мачтовый четырехзначный со светодиодными  свето оптическими системами тырехзначный со светодиодными  светооптическими системами светооптическими светооптическими светооптическими
				.product__footer
					p.product__footer_desc
						span.product__footer_serial HKMP
						span.product__footer_num 676636.056-02
			a(href="#").product__item
				.product__pic
					img(src='static/img/product/01.jpg', alt='изображение').product__img
				.product__content
					p.product__title Светофор заградительный со светодиодными светооптическими системами
					p.product__desc.mod_limit Светофор мачтовый четырехзначный со светодиодными  свето оптическими системами тырехзначный со светодиодными  светооптическими системами светооптическими светооптическими светооптическими
				.product__footer
					p.product__footer_desc
						span.product__footer_serial HKMP
						span.product__footer_num 676636.056-02
			a(href="#").product__item
				.product__pic
					img(src='static/img/product/02.jpg', alt='изображение').product__img
				.product__content
					p.product__title Светофор заградительный со светодиодными светооптическими системами
					p.product__desc.mod_limit Светофор мачтовый четырехзначный со светодиодными  свето оптическими системами тырехзначный со светодиодными  светооптическими системами светооптическими светооптическими светооптическими
				.product__footer
					p.product__footer_desc
						span.product__footer_serial HKMP
						span.product__footer_num 676636.056-02
			a(href="#").product__item
				.product__pic
					img(src='static/img/product/03.jpg', alt='изображение').product__img
				.product__content
					p.product__title Светофор заградительный со светодиодными светооптическими системами
					p.product__desc.mod_limit Светофор мачтовый четырехзначный со светодиодными  свето оптическими системами тырехзначный со светодиодными  светооптическими системами светооптическими светооптическими светооптическими
				.product__footer
					p.product__footer_desc
						span.product__footer_serial HKMP
						span.product__footer_num 676636.056-02
			a(href="#").product__item
				.product__pic
					img(src='static/img/product/04.jpg', alt='изображение').product__img
				.product__content
					p.product__title Светофор заградительный со светодиодными светооптическими системами
					p.product__desc.mod_limit Светофор мачтовый четырехзначный со светодиодными  свето оптическими системами тырехзначный со светодиодными  светооптическими системами светооптическими светооптическими светооптическими
				.product__footer
					p.product__footer_desc
						span.product__footer_serial HKMP
						span.product__footer_num 676636.056-02
			a(href="#").product__item
				.product__pic
					img(src='static/img/product/05.jpg', alt='изображение').product__img
				.product__content
					p.product__title Светофор заградительный со светодиодными светооптическими системами
					p.product__desc.mod_limit Светофор мачтовый четырехзначный со светодиодными  свето оптическими системами тырехзначный со светодиодными  светооптическими системами светооптическими светооптическими светооптическими
				.product__footer
					p.product__footer_desc
						span.product__footer_serial HKMP
						span.product__footer_num 676636.056-02
			a(href="#").product__item
				.product__pic
					img(src='static/img/product/01.jpg', alt='изображение').product__img
				.product__content
					p.product__title Светофор заградительный со светодиодными светооптическими системами
					p.product__desc.mod_limit Светофор мачтовый четырехзначный со светодиодными  свето оптическими системами тырехзначный со светодиодными  светооптическими системами светооптическими светооптическими светооптическими
				.product__footer
					p.product__footer_desc
						span.product__footer_serial HKMP
						span.product__footer_num 676636.056-02
		a(href="#").btn.btn_more Показать еще
			|
			strong   12
			|
			| из
			|
			strong 54
			i.icon-arround

section.section.description__conteiner.description_small
	.description__content
		p.description__desc Светодиодный светильник промышленного освещения «Енисей» 16.3500.30 DURAY - это современная замена привычных светильников на люминесцентных лампах типа РСП. Светильник укомплектован 16 яркими светодиодами марки NICHIA. Изготавливается в трех  вариантах - подвесной, поворотный (настенный) или П-образный Светодиодный светильник промышленного освещения «Енисей» 16.3500.30 DURAY - это современная замена привычных светильников на люминесцентных лампах типа РСП. Светильник укомплектован 16 яркими светодиодами марки NICHIA. Изготавливается в трех  вариантах - подвесной, поворотный (настенный) или П-образный.
	a(href="#").description__toogler Полное описание
		i.icon-bird

section.section.mod_center.mod_last
	h3.title__article ПОПУЛЯРНЫЕ ЗАПРОСЫ

	include productSlider.pug