- var list = ['Головки светофорные', 'Светофоры карликовые', 'Светофоры консольные', 'Системы светофорные', 'Светофоры мачтовые', 'Указатели световые светодиодные', 'Звуковые сигнальные устройства', 'Переездное оборудование', 'Устройства СЦБ для метро', 'Светильники светодиодные', 'Стрелочные электроприводы', 'Перемычки и соединители для СЦБ', 'Бортовые источники питания', 'Дроссель-трансформаторы', 'Буферные фонари', 'Защитные устройства', 'Ящики путевые', 'Муфты кабельные', 'Оборудование СЦБ', 'Аппаратура связи', 'Изоляция для ж/д путей'];
.startScreen(data-aos="fade-down", data-aos-delay="480")

	.propose
		.mainSlider
			.mainSlider__item
				img(src="static/img/slider/01.jpg", alt="").mainSlider__img
				.mainSlider__content
					h4.title__biggest СИСТЕМА МАЧТОВОГО <br> СВЕТОФОРА <br> СВЕТОДИОДНАЯ
					p.title__detail с универсальным питанием
					a(href="#").btn.btn_small подробнее

			.mainSlider__item
				img(src="static/img/slider/02.jpg", alt="").mainSlider__img
				.mainSlider__content
					h4.title__biggest Бортовые <br> источники <br> питания
					a(href="#").btn.btn_small подробнее

			.mainSlider__item
				img(src="static/img/slider/03.jpg", alt="").mainSlider__img
				.mainSlider__content.mod_darkText
					h4.title__biggest МАЧТОВЫЕ СВЕТОФОРЫ<br> ТРЕХЗНАЧНЫЕ
					p.title__detail с маршрутным указателем
					a(href="#").btn.btn_small подробнее

			.mainSlider__item
				img(src="static/img/slider/04.jpg", alt="").mainSlider__img
				.mainSlider__content
					h4.title__biggest Железнодорожные<br> стрелки
					a(href="#").btn.btn_small подробнее

			.mainSlider__item
				img(src="static/img/slider/05.jpg", alt="").mainSlider__img
				.mainSlider__content
					h4.title__biggest железнодорожныЙ<br> переезд
					a(href="#").btn.btn_small подробнее

		.market
			a(href="#").market__item
				img(src='static/img/market/01.jpg', alt='изображение').market__img
				.market__conteiner
					p.market__desc Магистральные <br> железные дороги
			a(href="#").market__item
				img(src='static/img/market/02.jpg', alt='изображение').market__img
				.market__conteiner
					p.market__desc Метрополитен
			a(href="#").market__item
				img(src='static/img/market/03.jpg', alt='изображение').market__img
				.market__conteiner
					p.market__desc Промышленный <br> транспорт

section.section
	h3.title__article ПОПУЛЯРНЫЕ КАТЕГОРИИ
	.purchased
		a(href="#").purchased__item.purchased-01
			img(src="static/img/purchased/01.png", alt="").purchased__img
			.purchased__content
				strong.purchased__strong Переездное оборудование
			.purchased__over
				.purchased__over_conteiner
					p Перейти в раздел
						span
							i.icon-wobble.wobble-00
							i.icon-wobble.wobble-01
							i.icon-wobble.wobble-02
		a(href="#").purchased__item.purchased-02
			img(src="static/img/purchased/02.png", alt="").purchased__img
			.purchased__content
				strong.purchased__strong Светофоры<br>мачтовые
			.purchased__over
				.purchased__over_conteiner
					p Перейти в раздел
						span
							i.icon-wobble.wobble-00
							i.icon-wobble.wobble-01
							i.icon-wobble.wobble-02
		a(href="#").purchased__item.purchased-03
			img(src="static/img/purchased/03.png", alt="").purchased__img
			.purchased__content
				strong.purchased__strong Бортовые<br>источники питания
			.purchased__over
				.purchased__over_conteiner
					p Перейти в раздел
						span
							i.icon-wobble.wobble-00
							i.icon-wobble.wobble-01
							i.icon-wobble.wobble-02
		a(href="#").purchased__item.purchased-04
			img(src="static/img/purchased/04.png", alt="").purchased__img
			.purchased__content
				strong.purchased__strong Светильники<br>светодиодные

			.purchased__over
				.purchased__over_conteiner
					p Перейти в раздел
						span
							i.icon-wobble.wobble-00
							i.icon-wobble.wobble-01
							i.icon-wobble.wobble-02

section.section
	h3.title__article.mod_zeroBottom О КОМПАНИИ
	.details.is_active
		p.company__desc Специализация ООО «Альфа-Жат» - комплексные поставки железнодорожного оборудования,<br>аппаратуры связи, железнодорожной автоматики, телемеханики для железных дорог, <br>метрополитенов и промышленных предприятий.
		p.company__desc Уже свыше 10 лет мы производим крупные поставки железнодорожного<br>оборудования для ведущих предприятий отрасли.
		.workers
			a(href="#").worker
				img(src="static/img/worker/01.jpg", alt="").worker__img
			a(href="#").worker
				img(src="static/img/worker/02.jpg", alt="").worker__img
			a(href="#").worker
				img(src="static/img/worker/03.jpg", alt="").worker__img
			a(href="#").worker
				img(src="static/img/worker/04.jpg", alt="").worker__img
		.mod_line
			a(href='#').btn.btn_small.mod_line подробнее

section.section
	h3.title__article Почему именно мы?
	.perfect
		.perfect__item
			.perfect__circle
				i.icon-rub
			h5.perfect__title Заводские цены
			.perfect__text
				p.perfect__desc Сотрудничество с заводами- изготовителями позволяет нам предлагать своим клиентам  самые выгодные цены.
		.perfect__item
			.perfect__circle
				i.icon-assortment
			h5.perfect__title Большой ассортимент
			.perfect__text
				p.perfect__desc Мы следим за потребностями рынка и постоянно расширяем номенклатуру поставляемой продукции.
		.perfect__item
			.perfect__circle
				i.icon-earth
			h5.perfect__title Широкая география
			.perfect__text
				p.perfect__desc Никаких географических ограничений: мы поставляем оборудование по всей России и странам СНГ.
		.perfect__item
			.perfect__circle
				i.icon-clock
			h5.perfect__title Соблюдение сроков
			.perfect__text
				p.perfect__desc Продукция всегда в наличии, отгрузка производится в кратчайшие сроки. Отсутствие посредников – это прямая экономическая выгода для клиентов.

section.section.mod_center.mod_last
	h3.title__article ПОСЛЕДНИЕ СОБЫТИЯ
	.events
		a(href="#").event
			.event__text
				h4.event__title Выставка Interlight<br>Moscow 2016
				p.event__desc Компания "Альфа-Жат" приняла активное участие в выставке Interlight, проходившей 11-14 ноября 2016 года в Москве  активное участие в
			.event__footer
				i.icon-time
				time(datetime="2016-10-23") 23 октября 2016
		a(href="#").event
			.event__text
				h4.event__title Выставка Interlight<br>Moscow 2016
				p.event__desc Компания "Альфа-Жат" приняла активное участие в выставке Interlight, проходившей 11-14 ноября 2016 года в Москве  активное участие в
			.event__footer
				i.icon-time
				time(datetime="2016-10-23") 23 октября 2016
		a(href="#").event
			.event__text
				h4.event__title Выставка Interlight<br>Moscow 2016
				p.event__desc Компания "Альфа-Жат" приняла активное участие в выставке Interlight, проходившей 11-14 ноября 2016 года в Москве  активное участие в
			.event__footer
				i.icon-time
				time(datetime="2016-10-23") 23 октября 2016
		a(href="#").event
			.event__text
				h4.event__title Выставка Interlight<br>Moscow 2016
				p.event__desc Компания "Альфа-Жат" приняла активное участие в выставке Interlight, проходившей 11-14 ноября 2016 года в Москве  активное участие в
			.event__footer
				i.icon-time
				time(datetime="2016-10-23") 23 октября 2016

	a(href='#').btn.btn_large все НовоСти