- var list = ['Головки светофорные', 'Светофоры карликовые', 'Светофоры консольные', 'Системы светофорные', 'Светофоры мачтовые', 'Указатели световые светодиодные', 'Звуковые сигнальные устройства', 'Переездное оборудование', 'Устройства СЦБ для метро', 'Светильники светодиодные', 'Стрелочные электроприводы', 'Перемычки и соединители для СЦБ', 'Бортовые источники питания', 'Дроссель-трансформаторы', 'Буферные фонари', 'Защитные устройства', 'Ящики путевые', 'Муфты кабельные', 'Оборудование СЦБ', 'Аппаратура связи', 'Изоляция для ж/д путей'];

ul.breadcrumbs
	li
		a(href="/") Главная
	li Новости

h2.title__lines Новости

.company.mod_first
	p.company__desc Специализация ООО «Альфа-Жат» - комплексные поставки железнодорожного оборудования,<br>аппаратуры связи, железнодорожной автоматики, телемеханики для железных дорог, <br>метрополитенов и промышленных предприятий.
	p.company__desc Уже свыше 10 лет мы производим крупные поставки железнодорожного<br>оборудования для ведущих предприятий отрасли.
	.workers
		a(href="#").worker
			img(src="static/img/worker/01.jpg", alt="").worker__img
		a(href="#").worker
			img(src="static/img/worker/02.jpg", alt="").worker__img
		a(href="#").worker
			img(src="static/img/worker/03.jpg", alt="").worker__img
		a(href="#").worker
			img(src="static/img/worker/04.jpg", alt="").worker__img

section.section
	h3.title__article НАШИ ПРИНЦИПЫ
	.perfect
		.perfect__item
			.perfect__text
				p.perfect__desc Мы поставляем оборудование по ценам заводов-изготовителей и имеем возможность предоставлять дополнительные  скидки от заводских цен.

		.perfect__item
			.perfect__text
				p.perfect__desc Мы следим за потребностями рынка и постоянно расширяем номенклатуру поставляемой продукции.
		.perfect__item
			.perfect__text
				p.perfect__desc Никаких географических ограничений: мы поставляем оборудование по всей России и странам СНГ.
		.perfect__item
			.perfect__text
				p.perfect__desc Продукция всегда в наличии, отгрузка производится в кратчайшие сроки. Отсутствие посредников – это прямая экономическая выгода для клиентов.

section.section.exclusive
	img(src="static/img/exclusive.jpg", alt="").exclusive__img
	.exclusive__content
		p.exclusive__desc Эксклюзивные дилерские соглашения дают нам возможность<br>предоставлять дополнительные скидки

section.section.mod_center.mod_last
	h3.title__article НАШИ ПАРТНЕРЫ
	.partner
		a(href="#").partner__link
			img(src='static/img/partner/01.jpg', alt='изображение')
		a(href="#").partner__link
			img(src='static/img/partner/02.jpg', alt='изображение')
		a(href="#").partner__link
			img(src='static/img/partner/03.jpg', alt='изображение')
		a(href="#").partner__link
			img(src='static/img/partner/04.jpg', alt='изображение')
		a(href="#").partner__link
			img(src='static/img/partner/05.jpg', alt='изображение')

block scriptFooter
	.popup.is_visible
		.popup__content

			a(href="#").icon-close.js-popup-close
			.popupSlider

				.popupSliderWide
					.popupSliderWide__item
						img(src="static/img/worker/01.jpg", alt="")
					.popupSliderWide__item
						img(src="static/img/worker/02.jpg", alt="")
					.popupSliderWide__item
						img(src="static/img/worker/03.jpg", alt="")
					.popupSliderWide__item
						img(src="static/img/worker/02.jpg", alt="")

				.popupSliderSmall
					.popupSliderSmall__item
						img(src="static/img/worker/1-01.jpg", alt="")
					.popupSliderSmall__item
						img(src="static/img/worker/1-02.jpg", alt="")
					.popupSliderSmall__item
						img(src="static/img/worker/1-03.jpg", alt="")
					.popupSliderSmall__item
						img(src="static/img/worker/1-02.jpg", alt="")

