- var list = ['Головки светофорные', 'Светофоры карликовые', 'Светофоры консольные', 'Системы светофорные', 'Светофоры мачтовые', 'Указатели световые светодиодные', 'Звуковые сигнальные устройства', 'Переездное оборудование', 'Устройства СЦБ для метро', 'Светильники светодиодные', 'Стрелочные электроприводы', 'Перемычки и соединители для СЦБ', 'Бортовые источники питания', 'Дроссель-трансформаторы', 'Буферные фонари', 'Защитные устройства', 'Ящики путевые', 'Муфты кабельные', 'Оборудование СЦБ', 'Аппаратура связи', 'Изоляция для ж/д путей'];

ul.breadcrumbs(data-aos="fade-down", data-aos-delay="550")
	li
		a(href="/") Главная
	li Новости

h2.title__lines Новости

section.section.mod_center.mod_last.mod_first(data-aos="fade-down", data-aos-delay="480")

	.events
		a(href="#").event
			.event__text
				h4.event__title Выставка Interlight<br>Moscow 2016
				p.event__desc Компания "Альфа-Жат" приняла активное участие в выставке Interlight, проходившей 11-14 ноября 2016 года в Москве  активное участие в
			.event__footer
				i.icon-time
				time(datetime="2016-10-23") 23 октября 2016
		a(href="#").event
			.event__text
				h4.event__title Выставка Interlight<br>Moscow 2016
				p.event__desc Компания "Альфа-Жат" приняла активное участие в выставке Interlight, проходившей 11-14 ноября 2016 года в Москве  активное участие в
			.event__footer
				i.icon-time
				time(datetime="2016-10-23") 23 октября 2016
		a(href="#").event
			.event__text
				h4.event__title Выставка Interlight<br>Moscow 2016
				p.event__desc Компания "Альфа-Жат" приняла активное участие в выставке Interlight, проходившей 11-14 ноября 2016 года в Москве  активное участие в
			.event__footer
				i.icon-time
				time(datetime="2016-10-23") 23 октября 2016
		a(href="#").event
			.event__text
				h4.event__title Выставка Interlight<br>Moscow 2016
				p.event__desc Компания "Альфа-Жат" приняла активное участие в выставке Interlight, проходившей 11-14 ноября 2016 года в Москве  активное участие в
			.event__footer
				i.icon-time
				time(datetime="2016-10-23") 23 октября 2016

		a(href="#").event
			.event__text
				h4.event__title Выставка Interlight<br>Moscow 2016
				p.event__desc Компания "Альфа-Жат" приняла активное участие в выставке Interlight, проходившей 11-14 ноября 2016 года в Москве  активное участие в
			.event__footer
				i.icon-time
				time(datetime="2016-10-23") 23 октября 2016
		a(href="#").event
			.event__text
				h4.event__title Выставка Interlight<br>Moscow 2016
				p.event__desc Компания "Альфа-Жат" приняла активное участие в выставке Interlight, проходившей 11-14 ноября 2016 года в Москве  активное участие в
			.event__footer
				i.icon-time
				time(datetime="2016-10-23") 23 октября 2016
		a(href="#").event
			.event__text
				h4.event__title Выставка Interlight<br>Moscow 2016
				p.event__desc Компания "Альфа-Жат" приняла активное участие в выставке Interlight, проходившей 11-14 ноября 2016 года в Москве  активное участие в
			.event__footer
				i.icon-time
				time(datetime="2016-10-23") 23 октября 2016
		a(href="#").event
			.event__text
				h4.event__title Выставка Interlight<br>Moscow 2016
				p.event__desc Компания "Альфа-Жат" приняла активное участие в выставке Interlight, проходившей 11-14 ноября 2016 года в Москве  активное участие в
			.event__footer
				i.icon-time
				time(datetime="2016-10-23") 23 октября 2016

		a(href="#").event
			.event__text
				h4.event__title Выставка Interlight<br>Moscow 2016
				p.event__desc Компания "Альфа-Жат" приняла активное участие в выставке Interlight, проходившей 11-14 ноября 2016 года в Москве  активное участие в
			.event__footer
				i.icon-time
				time(datetime="2016-10-23") 23 октября 2016
		a(href="#").event
			.event__text
				h4.event__title Выставка Interlight<br>Moscow 2016
				p.event__desc Компания "Альфа-Жат" приняла активное участие в выставке Interlight, проходившей 11-14 ноября 2016 года в Москве  активное участие в
			.event__footer
				i.icon-time
				time(datetime="2016-10-23") 23 октября 2016
		a(href="#").event
			.event__text
				h4.event__title Выставка Interlight<br>Moscow 2016
				p.event__desc Компания "Альфа-Жат" приняла активное участие в выставке Interlight, проходившей 11-14 ноября 2016 года в Москве  активное участие в
			.event__footer
				i.icon-time
				time(datetime="2016-10-23") 23 октября 2016
		a(href="#").event
			.event__text
				h4.event__title Выставка Interlight<br>Moscow 2016
				p.event__desc Компания "Альфа-Жат" приняла активное участие в выставке Interlight, проходившей 11-14 ноября 2016 года в Москве  активное участие в
			.event__footer
				i.icon-time
				time(datetime="2016-10-23") 23 октября 2016

		a(href="#").event
			.event__text
				h4.event__title Выставка Interlight<br>Moscow 2016
				p.event__desc Компания "Альфа-Жат" приняла активное участие в выставке Interlight, проходившей 11-14 ноября 2016 года в Москве  активное участие в
			.event__footer
				i.icon-time
				time(datetime="2016-10-23") 23 октября 2016
		a(href="#").event
			.event__text
				h4.event__title Выставка Interlight<br>Moscow 2016
				p.event__desc Компания "Альфа-Жат" приняла активное участие в выставке Interlight, проходившей 11-14 ноября 2016 года в Москве  активное участие в
			.event__footer
				i.icon-time
				time(datetime="2016-10-23") 23 октября 2016
		a(href="#").event
			.event__text
				h4.event__title Выставка Interlight<br>Moscow 2016
				p.event__desc Компания "Альфа-Жат" приняла активное участие в выставке Interlight, проходившей 11-14 ноября 2016 года в Москве  активное участие в
			.event__footer
				i.icon-time
				time(datetime="2016-10-23") 23 октября 2016
		a(href="#").event
			.event__text
				h4.event__title Выставка Interlight<br>Moscow 2016
				p.event__desc Компания "Альфа-Жат" приняла активное участие в выставке Interlight, проходившей 11-14 ноября 2016 года в Москве  активное участие в
			.event__footer
				i.icon-time
				time(datetime="2016-10-23") 23 октября 2016

	a(href='#').btn.btn_more Показать ещё
		i.icon-arround