- var list = ['Головки светофорные', 'Светофоры карликовые', 'Светофоры консольные', 'Системы светофорные', 'Светофоры мачтовые', 'Указатели световые светодиодные', 'Звуковые сигнальные устройства', 'Переездное оборудование', 'Устройства СЦБ для метро', 'Светильники светодиодные', 'Стрелочные электроприводы', 'Перемычки и соединители для СЦБ', 'Бортовые источники питания', 'Дроссель-трансформаторы', 'Буферные фонари', 'Защитные устройства', 'Ящики путевые', 'Муфты кабельные', 'Оборудование СЦБ', 'Аппаратура связи', 'Изоляция для ж/д путей'];

ul.breadcrumbs(data-aos="fade-down", data-aos-delay="550")
	li
		a(href="/") Главная
	li
		a(href="/") новости
	li Выставка Interlight Moscow 2016

section.section.mod_first(data-aos="fade-down", data-aos-delay="480")
	.preview
		.previewSlider
			.previewSliderWide
				.previewSliderWide__item
					img(src="static/img/new/01.jpg", alt="")
				.previewSliderWide__item
					img(src="static/img/new/02.jpg", alt="")
				.previewSliderWide__item
					img(src="static/img/new/03.jpg", alt="")

			.previewSliderSmall
				.previewSliderSmall__item
					.previewSliderSmall__item_wrap
						img(src="static/img/new/01.jpg", alt="")
				.previewSliderSmall__item
					.previewSliderSmall__item_wrap
						img(src="static/img/new/02.jpg", alt="")
				.previewSliderSmall__item
					.previewSliderSmall__item_wrap
						img(src="static/img/new/03.jpg", alt="")
		.description

			p.description__model
				time.description__time 23 октября 2016
			h3.description__title Выставка Interlight Moscow 2016
			.description__conteiner
				.description__content.is_visible
					p.description__desc Компания «Альфа-Жат» приняла активное участие в выставке Interlight, проходившей 11-14 ноября 2014 года в Москве. Выставка традиционно проходит в Москве и посвящена новинкам рынка осветительного оборудования, LED, электротехнике и системам автоматизации зданий.
					p.description__desc Наши специалисты провели презентацию светодиодных светильников, поставляемых нашей компанией на условиях официальных дилерских соглашений. Участники выставки высоко оценили отличные световые характеристики и демократичную стоимость нашей продукции.
					p.description__desc В ходе выставки было получено много полезной информации и контактов для дальнейшего сотрудничества, которые позволят компании в перспективе занять ведущие позиции среди поставщиков LED-оборудования.
			button(type="submit").description__submit.btn.btn_large все новости

section.section.mod_center.mod_last
	h3.title__article ДРУГИЕ СОБЫТИЯ

	.eventSlider
		a(href="#").event
			.event__text
				h4.event__title Выставка Interlight<br>Moscow 2016
				p.event__desc Компания "Альфа-Жат" приняла активное участие в выставке Interlight, проходившей 11-14 ноября 2016 года в Москве  активное участие в
			.event__footer
				i.icon-time
				time(datetime="2016-10-23") 23 октября 2016
		a(href="#").event
			.event__text
				h4.event__title Выставка Interlight<br>Moscow 2016
				p.event__desc Компания "Альфа-Жат" приняла активное участие в выставке Interlight, проходившей 11-14 ноября 2016 года в Москве  активное участие в
			.event__footer
				i.icon-time
				time(datetime="2016-10-23") 23 октября 2016
		a(href="#").event
			.event__text
				h4.event__title Выставка Interlight<br>Moscow 2016
				p.event__desc Компания "Альфа-Жат" приняла активное участие в выставке Interlight, проходившей 11-14 ноября 2016 года в Москве  активное участие в
			.event__footer
				i.icon-time
				time(datetime="2016-10-23") 23 октября 2016
		a(href="#").event
			.event__text
				h4.event__title Выставка Interlight<br>Moscow 2016
				p.event__desc Компания "Альфа-Жат" приняла активное участие в выставке Interlight, проходившей 11-14 ноября 2016 года в Москве  активное участие в
			.event__footer
				i.icon-time
				time(datetime="2016-10-23") 23 октября 2016

		a(href="#").event
			.event__text
				h4.event__title Выставка Interlight<br>Moscow 2016
				p.event__desc Компания "Альфа-Жат" приняла активное участие в выставке Interlight, проходившей 11-14 ноября 2016 года в Москве  активное участие в
			.event__footer
				i.icon-time
				time(datetime="2016-10-23") 23 октября 2016
		a(href="#").event
			.event__text
				h4.event__title Выставка Interlight<br>Moscow 2016
				p.event__desc Компания "Альфа-Жат" приняла активное участие в выставке Interlight, проходившей 11-14 ноября 2016 года в Москве  активное участие в
			.event__footer
				i.icon-time
				time(datetime="2016-10-23") 23 октября 2016
		a(href="#").event
			.event__text
				h4.event__title Выставка Interlight<br>Moscow 2016
				p.event__desc Компания "Альфа-Жат" приняла активное участие в выставке Interlight, проходившей 11-14 ноября 2016 года в Москве  активное участие в
			.event__footer
				i.icon-time
				time(datetime="2016-10-23") 23 октября 2016
		a(href="#").event
			.event__text
				h4.event__title Выставка Interlight<br>Moscow 2016
				p.event__desc Компания "Альфа-Жат" приняла активное участие в выставке Interlight, проходившей 11-14 ноября 2016 года в Москве  активное участие в
			.event__footer
				i.icon-time
				time(datetime="2016-10-23") 23 октября 2016

		a(href="#").event
			.event__text
				h4.event__title Выставка Interlight<br>Moscow 2016
				p.event__desc Компания "Альфа-Жат" приняла активное участие в выставке Interlight, проходившей 11-14 ноября 2016 года в Москве  активное участие в
			.event__footer
				i.icon-time
				time(datetime="2016-10-23") 23 октября 2016
		a(href="#").event
			.event__text
				h4.event__title Выставка Interlight<br>Moscow 2016
				p.event__desc Компания "Альфа-Жат" приняла активное участие в выставке Interlight, проходившей 11-14 ноября 2016 года в Москве  активное участие в
			.event__footer
				i.icon-time
				time(datetime="2016-10-23") 23 октября 2016
		a(href="#").event
			.event__text
				h4.event__title Выставка Interlight<br>Moscow 2016
				p.event__desc Компания "Альфа-Жат" приняла активное участие в выставке Interlight, проходившей 11-14 ноября 2016 года в Москве  активное участие в
			.event__footer
				i.icon-time
				time(datetime="2016-10-23") 23 октября 2016
		a(href="#").event
			.event__text
				h4.event__title Выставка Interlight<br>Moscow 2016
				p.event__desc Компания "Альфа-Жат" приняла активное участие в выставке Interlight, проходившей 11-14 ноября 2016 года в Москве  активное участие в
			.event__footer
				i.icon-time
				time(datetime="2016-10-23") 23 октября 2016

