
.productSlider
	a(href="#").product__item
		.product__pic
			img(src='static/img/popular/01.jpg', alt='изображение').product__img
		.product__content
			.product__box
				p.product__desc Светофор мачтовый четырехзначный со светодиодными  свето оптическими системами тырехзначный со светодиодными  светооптическими системами светооптическими светооптическими светооптическими
		.product__footer
			p.product__footer_desc
				span.product__footer_serial HKMP
				span.product__footer_num 676636.056-02
	a(href="#").product__item
		.product__pic
			img(src='static/img/popular/02.jpg', alt='изображение').product__img
		.product__content
			.product__box
				p.product__desc Светофор мачтовый четырехзначный со светодиодными  свето оптическими системами тырехзначный со светодиодными  светооптическими системами светооптическими светооптическими светооптическими
		.product__footer
			p.product__footer_desc
				span.product__footer_serial HKMP
				span.product__footer_num 676636.056-02
	a(href="#").product__item
		.product__pic
			img(src='static/img/popular/03.jpg', alt='изображение').product__img
		.product__content
			.product__box
				p.product__desc Светофор мачтовый четырехзначный со светодиодными  свето оптическими системами тырехзначный со светодиодными  светооптическими системами светооптическими светооптическими светооптическими
		.product__footer
			p.product__footer_desc
				span.product__footer_serial HKMP
				span.product__footer_num 676636.056-02
	a(href="#").product__item
		.product__pic
			img(src='static/img/popular/04.jpg', alt='изображение').product__img
		.product__content
			.product__box
				p.product__desc Светофор мачтовый четырехзначный со светодиодными  свето оптическими системами тырехзначный со светодиодными  светооптическими системами светооптическими светооптическими светооптическими
		.product__footer
			p.product__footer_desc
				span.product__footer_serial HKMP
				span.product__footer_num 676636.056-02
	a(href="#").product__item
		.product__pic
			img(src='static/img/popular/05.jpg', alt='изображение').product__img
		.product__content
			.product__box
				p.product__desc Светофор мачтовый четырехзначный со светодиодными  свето оптическими системами тырехзначный со светодиодными  светооптическими системами светооптическими светооптическими светооптическими
		.product__footer
			p.product__footer_desc
				span.product__footer_serial HKMP
				span.product__footer_num 676636.056-02
	a(href="#").product__item
		.product__pic
			img(src='static/img/popular/01.jpg', alt='изображение').product__img
		.product__content
			.product__box
				p.product__desc Светофор мачтовый четырехзначный со светодиодными  свето оптическими системами тырехзначный со светодиодными  светооптическими системами светооптическими светооптическими светооптическими
		.product__footer
			p.product__footer_desc
				span.product__footer_serial HKMP
				span.product__footer_num 676636.056-02
	a(href="#").product__item
		.product__pic
			img(src='static/img/popular/02.jpg', alt='изображение').product__img
		.product__content
			.product__box
				p.product__desc Светофор мачтовый четырехзначный со светодиодными  свето оптическими системами тырехзначный со светодиодными  светооптическими системами светооптическими светооптическими светооптическими
		.product__footer
			p.product__footer_desc
				span.product__footer_serial HKMP
				span.product__footer_num 676636.056-02
	a(href="#").product__item
		.product__pic
			img(src='static/img/popular/03.jpg', alt='изображение').product__img
		.product__content
			.product__box
				p.product__desc Светофор мачтовый четырехзначный со светодиодными  свето оптическими системами тырехзначный со светодиодными  светооптическими системами светооптическими светооптическими светооптическими
		.product__footer
			p.product__footer_desc
				span.product__footer_serial HKMP
				span.product__footer_num 676636.056-02
	a(href="#").product__item
		.product__pic
			img(src='static/img/popular/04.jpg', alt='изображение').product__img
		.product__content
			.product__box
				p.product__desc Светофор мачтовый четырехзначный со светодиодными  свето оптическими системами тырехзначный со светодиодными  светооптическими системами светооптическими светооптическими светооптическими
		.product__footer
			p.product__footer_desc
				span.product__footer_serial HKMP
				span.product__footer_num 676636.056-02
	a(href="#").product__item
		.product__pic
			img(src='static/img/popular/05.jpg', alt='изображение').product__img
		.product__content
			.product__box
				p.product__desc Светофор мачтовый четырехзначный со светодиодными  свето оптическими системами тырехзначный со светодиодными  светооптическими системами светооптическими светооптическими светооптическими
		.product__footer
			p.product__footer_desc
				span.product__footer_serial HKMP
				span.product__footer_num 676636.056-02
	a(href="#").product__item
		.product__pic
			img(src='static/img/popular/01.jpg', alt='изображение').product__img
		.product__content
			.product__box
				p.product__desc Светофор мачтовый четырехзначный со светодиодными  свето оптическими системами тырехзначный со светодиодными  светооптическими системами светооптическими светооптическими светооптическими
		.product__footer
			p.product__footer_desc
				span.product__footer_serial HKMP
				span.product__footer_num 676636.056-02
	a(href="#").product__item
		.product__pic
			img(src='static/img/popular/02.jpg', alt='изображение').product__img
		.product__content
			.product__box
				p.product__desc Светофор мачтовый четырехзначный со светодиодными  свето оптическими системами тырехзначный со светодиодными  светооптическими системами светооптическими светооптическими светооптическими
		.product__footer
			p.product__footer_desc
				span.product__footer_serial HKMP
				span.product__footer_num 676636.056-02
	a(href="#").product__item
		.product__pic
			img(src='static/img/popular/03.jpg', alt='изображение').product__img
		.product__content
			.product__box
				p.product__desc Светофор мачтовый четырехзначный со светодиодными  свето оптическими системами тырехзначный со светодиодными  светооптическими системами светооптическими светооптическими светооптическими
		.product__footer
			p.product__footer_desc
				span.product__footer_serial HKMP
				span.product__footer_num 676636.056-02
	a(href="#").product__item
		.product__pic
			img(src='static/img/popular/04.jpg', alt='изображение').product__img
		.product__content
			.product__box
				p.product__desc Светофор мачтовый четырехзначный со светодиодными  свето оптическими системами тырехзначный со светодиодными  светооптическими системами светооптическими светооптическими светооптическими
		.product__footer
			p.product__footer_desc
				span.product__footer_serial HKMP
				span.product__footer_num 676636.056-02
	a(href="#").product__item
		.product__pic
			img(src='static/img/popular/05.jpg', alt='изображение').product__img
		.product__content
			.product__box
				p.product__desc Светофор мачтовый четырехзначный со светодиодными  свето оптическими системами тырехзначный со светодиодными  светооптическими системами светооптическими светооптическими светооптическими
		.product__footer
			p.product__footer_desc
				span.product__footer_serial HKMP
				span.product__footer_num 676636.056-02