- var list = ['Головки светофорные', 'Светофоры карликовые', 'Светофоры консольные', 'Системы светофорные', 'Светофоры мачтовые', 'Указатели световые светодиодные', 'Звуковые сигнальные устройства', 'Переездное оборудование', 'Устройства СЦБ для метро', 'Светильники светодиодные', 'Стрелочные электроприводы', 'Перемычки и соединители для СЦБ', 'Бортовые источники питания', 'Дроссель-трансформаторы', 'Буферные фонари', 'Защитные устройства', 'Ящики путевые', 'Муфты кабельные', 'Оборудование СЦБ', 'Аппаратура связи', 'Изоляция для ж/д путей'];



ul.breadcrumbs(data-aos="fade-down", data-aos-delay="550")
	li
		a(href="/") Главная
	li
		a(href="/") Светильники светодиодные
	li Светильник промышленного овещения «Енисей»

section.section.mod_first(data-aos="fade-down", data-aos-delay="480")
	.preview
		.previewSlider
			.previewSliderWide
				.previewSliderWide__item
					img(src="static/img/promo/01.png", alt="")
				.previewSliderWide__item
					img(src="static/img/promo/02.png", alt="")
				.previewSliderWide__item
					img(src="static/img/promo/03.png", alt="")

			.previewSliderSmall
				.previewSliderSmall__item
					.previewSliderSmall__item_wrap
						img(src="static/img/promo/01.png", alt="")
				.previewSliderSmall__item
					.previewSliderSmall__item_wrap
						img(src="static/img/promo/02.png", alt="")
				.previewSliderSmall__item
					.previewSliderSmall__item_wrap
						img(src="static/img/promo/03.png", alt="")
		.description
			.description__header
				p.description__model Модель  |
					strong 16.3500.30
				h1.description__title СВЕТИЛЬНИК ПРОМЫШЛЕННОГО ОСВЕЩЕНИЯ «ЕНИСЕЙ DURAY» СВЕТОДИОДНЫЙ
			.description__conteiner
				.description__content
					p.description__desc Светодиодный светильник промышленного освещения «Енисей» 16.3500.30 DURAY - это современная замена привычных светильников на люминесцентных лампах типа РСП. Светильник укомплектован 16 яркими светодиодами марки NICHIA. Изготавливается в трех  вариантах - подвесной, поворотный (настенный) или П-образный Светодиодный светильник промышленного освещения «Енисей» 16.3500.30 DURAY - это современная замена привычных светильников на люминесцентных лампах типа РСП. Светильник укомплектован 16 яркими светодиодами марки NICHIA. Изготавливается в трех  вариантах - подвесной, поворотный (настенный) или П-образный.
				a(href="#").description__toogler Подробнее
					i.icon-bird
			button(type="submit").description__submit.btn.btn_large Оставить заявку

	.preview
		.preview__detail

			.preview__report
				h3.title__detail Характеристики
				table.description__table
					tr
						td Частота питающего тока
						td 50-60 Гц
					tr
						td Мощность
						td 30 Вт
					tr
						td Коэффициент мощности
						td > 0,97
					tr
						td Световой поток
						td 3 500 Лм
					tr
						td Светодиоды
						td Nichia (Япония), 119 серия
					tr
						td Светоотдача с 1 светодиода
						td  > 218 Лм
					tr
						td Число светодиодов
						td 16 шт.
					tr
						td Тип КСС (по ГОСТ 17677)
						td Д или Г
					tr
						td Угол светового потока (2Q1/2)
						td 120° или 60°
					tr
						td Цветовая температура
						td 4700 - 5300K
					tr
						td Вес светильника
						td 1,8 кг
					tr
						td Размеры
						td 238х118х65 мм
					tr
						td Рабочий ресурс светодиодов
						td 100 000 ч
					tr
						td Гарантия
						td 5 лет

			.preview__description
				h2.title__detail ОПИСАНИЕ
				p.description__desc Где можно использовать: для освещения промышленных помещений, логистических и складских объектов, железнодорожных переездов и платформ, подсветки зданий и рекламных билбордов.
				p.description__desc
					strong.description__strong Приемущества промышленного светильника Енисей 16
				ul.description__list
					li.description__item В 3 раза экономичней светильников РСП.
					li.description__item Простая установка.
					li.description__item Пульсации светового потока < 1%.
					li.description__item Соответствие ТР ТС и ГОСТ.
					li.description__item 16 ярких и очень долговечных светодиодов NICHIA.
				p.description__desc ООО "Альфа-Жат" является официальным дилером завода-изготовителя и предоставляет лучшие цены на светодиодные светильники промышленного освещения Енисей 16.3500.30



section.section.mod_center.mod_last
	h3.title__article С ЭТИМ ТОВАРОМ ТАКЖЕ СМОТРЯТ

	include productSlider.pug
